<p>
  <mat-toolbar class="mat-toolbar">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
    <span>MediCare</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="navigateTo('create-account')" *ngIf="!authService.isAuthenticated() ">
      <mat-icon>app_registration</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateTo('login')" *ngIf="!authService.isAuthenticated()">
      <mat-icon>login</mat-icon>
    </button>
    <!-- <button mat-icon-button (click)="navigateTo('logout')" *ngIf="authService.isAuthenticated()">
      <mat-icon>logout</mat-icon>
    </button> -->
    <button mat-icon-button *ngIf="authService.isAuthenticated()" [matMenuTriggerFor]="menu">
      <mat-icon> account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu" >
    <button mat-menu-item (click)="navigateTo('logout')">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </button>
  </mat-menu>
</p>