/* You can add global styles to this file, and also import other style files */
// @import "./../node_modules/@angular/material/prebuilt-themes/purple-green.css";
html,
body {
    height: 100%;
}
body {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    background-color: #f3f3f3;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
