/* You can add global styles to this file, and also import other style files */
// @import "./../node_modules/@angular/material/prebuilt-themes/purple-green.css";
@import url("./../node_modules/bootstrap/dist/css/bootstrap.min.css");
html,
body {
    height: 100%;
}
body {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    background-color: #f3f3f3;
    height: 100%;
}


.custom-button{
    background: #13bfb1 !important;

}

a{
    color: #13bfb1 !important;
    text-decoration: none;
}